<% if @department.errors.any? %>
<div class="alert alert-error">
  <ul style="margin:0 0 0px 25px">
    <% @department.errors.messages.each do |key, msg| %>
      <li style="color:red"><%= msg.join(' ') %></li>
    <% end %>   
  </ul>
</div>  
<% end %>

<section class="content">
  <div class="box box-primary">
    <%= form_for(@department, :url => commitpath, :html => {:multipart => true, :class => 'form-horizontal'}) do |f| %>
    <div class="form-group">
      <%if action_name == 'new'%>
        <h3 class="box-title">部门创建</h3>
      <%end%>
      <%if action_name == 'edit'%>
         <h3 class="box-title">部门编辑</h3>
      <%end%>
    </div>

     <div class="form-group">
    <label for="name">部门名称</label>
    <input type="name" class="form-control" id="name" placeholder="名称" name="name">
  </div>                                                                                              
    <div class="box-footer clearfix">                                                                      
      <div class="row">
        <div class="col-sm-4 hidden-xs">
            <%= f.submit "确认", :class => "btn btn-info" %>
        </div>
                                                                                                  
      </div>                                                                                               
    </div>    
  </div>  
  <% end %>  
</section>

