<section class="content-header">
  <h1> 主页
    <small>控制板</small>
  </h1>
  <!--
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
  -->
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>
            <%= @bingos.count %>
          </h3>
          <p> 中奖人次 </p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <%= link_to [:admin, :bingos],  class: "small-box-footer" do %>
          查看更多 <i class="fa fa-arrow-circle-right"></i>
        <% end %>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>
            <%= 0%>
            <!-- 53<sup style="font-size: 20px">%</sup> -->
          </h3>
          <p>
            活动数量
          </p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">
          查看更多 <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>
            <%= @stores.count %>
          </h3>
          <p>
            店铺数量
            <!--Unique Visitors -->
          </p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">
          查看更多 <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <!-- ./col -->
  </div>
</section>
