<header class="clearfix">
  <div class="navbar navbar-default navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="icon-menu"></i>
            </button>
           <!--  <a class="navbar-brand" href="/">
              <%= image_tag "list-logo.png", alt: 'logo', size: "129x50" %>
                <img alt="Fusioo Logo" src="/images/fusioo-logo.png" data-pin-nopin="true">
            </a>  -->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> <%= link_to '部门', [:admin, :departments]%></li>
                <li><%= link_to '员工', [:admin, :employes]%></li>
                <li><a href="javascript:void(0)">管理员：<%=@admin.name%></a></li>
                <li><a href="/admin/logout" id="menuCareers">退出</a></li>
            </ul>
        </div>
    </div>
  </div>   
</header>
